<header>
  <nav>
    <div class="left">
      <div class="navigation-item">
        <a routerLink="/dashboard">
          <i class="fas fa-home"></i>
        </a>
      </div>
    </div>
    <div class="right">
      <div class="navigation-item"><a routerLink="/gallery/image">Bildergalerie</a></div>
      <div class="navigation-item"><a routerLink="/gallery/video">Videogalerie</a></div>
      <div class="navigation-item"><a routerLink="/gallery/audio">Audiogalerie</a></div>
      <div class="navigation-item"><a routerLink="/login">Login</a></div>
      <div class="navigation-item"><a routerLink="/logout">Log - out</a></div>
    </div>
  </nav>
</header>
