<div class="images">
  <div class="image-wrapper">
    <h3>Datei hochladen</h3>
    <sd-single-file-upload [url]="'SERVER-URL'"
                           [description]="'Beschreibung'"
                           [title]="'Titel'">
    </sd-single-file-upload>
  </div>
  <div class="image-wrapper">
    <h3>Mehrere Dateien hochladen</h3>
    <sd-multiple-file-upload
      [description]="'Beschreibung'"
      [title]="'Titel'"
      [url]="'SERVER-URL'"
    ></sd-multiple-file-upload>
  </div>
</div>
<h1>Alle Dateien</h1>
