<div class="links">
  <div class="link">
    <div class="dashboard-link">
      <a routerLink="/gallery/image">
        <span>Bilder</span>
        <div class="icon">
          <i class="fas fa-images"></i>
        </div>
      </a>
    </div>
    <div class="dashboard-link">
      <a routerLink="/gallery/video">
        <span>Videos</span>
        <div class="icon">
          <i class="fas fa-video"></i>
        </div>
      </a>
    </div>
    <div class="dashboard-link">
      <a routerLink="/gallery/audio">
        <span>Audio</span>
        <div class="icon">
          <i class="fas fa-volume-up"></i>
        </div>
      </a>
    </div>
    <div class="dashboard-link">
      <a routerLink="/chat">
        <span>Chat</span>
        <div class="icon">
          <i class="fas fa-comment"></i>
        </div>
      </a>
    </div>
  </div>
</div>
