/* You can add global styles to this file, and also import other style files */

$primaryColor: #ef8921;
$secondaryColor: #92d5ef;

body, html {
  min-height: 100vh;
  margin: 0;
  font-family: Karla;
}
